<nav>
  <ul class="nav flex-column">
    <li class="nav-item"><NavLink class="nav-link" href="/dashboard">Dashboard</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/demande">Demande</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/planning">Planning</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/validation">Validations</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/admin/users">Admin - Utilisateurs</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/login">Se connecter</NavLink></li>
  </ul>
</nav>
