
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

 
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />


    <!-- Core CSS de Sneat -->
    <link rel="stylesheet" href="assets/vendor/css/core.css" />
    <link rel="stylesheet" href="assets/vendor/css/theme-default.css" />
    <link rel="stylesheet" href="assets/css/demo.css" />

    <!-- MudBlazor -->
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />

    <ImportMap />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link href="css/site.css" rel="stylesheet" />
    <!-- Pour les graphiques -->
    @* <script src="js/chart.js"></script> *@
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />

    <!-- Blazor & MudBlazor -->
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendor JS de Sneat -->
    <script src="assets/vendor/libs/jquery/jquery.js"></script>
    <script src="assets/vendor/libs/popper/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/js/helpers.js"></script>
    <script src="assets/vendor/js/menu.js"></script>
    <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="assets/vendor/libs/masonny/masonny.js"></script>
    <script src="assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="assets/vendor/libs/highlight/highlight.js"></script>

    <!-- Main JS de Sneat -->
    <script src="assets/js/config.js></script>



    <script src="assets/js/ui-toasts.js></script>

    <script src="assets/js/pages-account-settings-account.js></script>
    <script src="assets/js/extended-ui-perfect-scrollbar.js></script>
    <script src="assets/js/ui-modals.js></script>

    <script src="assets/js/ui-popover.js></script>
    <script src="assets/js/dashboards-analytics.js></script>

    <script src="assets/js/form-basic-inputs.js></script>

    <script src="assets/js/main.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/menu.js"></script>


    <script src="_framework/blazor.web.js"></script>
    

</body>

</html>


