@page "/dashboard"
@inject CongeService CongeSvc

<h3>Dashboard</h3>

@if (stats == null)
{
    <p>Chargement…</p>
}
else
{
    <div class="row">
        <div class="col-md-4"><StatBox Title="Congés demandés" Value="@stats.TotalCongesDemandes.ToString()" /></div>
        <div class="col-md-4"><StatBox Title="Congés acceptés" Value="@stats.TotalCongesAcceptes.ToString()" /></div>
        <div class="col-md-4"><StatBox Title="Jours restants" Value="@stats.JoursRestants.ToString()" /></div>
    </div>

    <h5 class="mt-3">Mes dernières demandes</h5>
    @foreach(var d in dernieres)
    {
        <DemandeCard Demande="d" />
    }
}

@code {
    private DashboardStatsModel? stats;
    private List<DemandeCongeModel> dernieres = new();

    protected override async Task OnInitializedAsync()
    {
        stats = await CongeSvc.GetDashboardStatsAsync();
        dernieres = await CongeSvc.GetDernieresDemandesAsync();
    }
}
