@page "/mes-demandes"
@using GestionConge.Client.Models
@using GestionConge.Client.Services
@inject DemandeService DemandeService

<h3>Mes demandes</h3>

@if (demandes == null)
{
    <p>Chargement...</p>
}
else
{
    <ul>
        @foreach (var d in demandes)
        {
            <li>@d.Motif (@d.Statut)</li>
        }
    </ul>
}

@code {
    private IEnumerable<DemandeCongeDto>? demandes;

    protected override async Task OnInitializedAsync()
    {
        demandes = await DemandeService.GetDemandesAsync();
    }
}
