@page "/"
@using GestionConge.Client.Services
@* @inject DemandeService DemandeService *@

<h1>Bienvenue sur Gestion des Congés</h1>
<p>Utilisez le menu pour naviguer entre les différentes fonctionnalités.</p>
