<CascadingAuthenticationState>  
    <Router AppAssembly="@typeof(App).Assembly">  
        <Found Context="routeData">  
            <RouteView RouteData="routeData"  
                       DefaultLayout="@typeof(MainLayout)" />  
        </Found>  
        <NotFound>  
            <p>Page non trouvée.</p>  
        </NotFound>  
    </Router>  
</CascadingAuthenticationState>
